@layer base, theme, util;

@layer base {
    *, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }

    /* html { scroll-behavior: smooth; } */
    body { line-height: 1.5; font-family: system-ui, -apple-system, sans-serif; -webkit-font-smoothing: antialiased; }
    
    img, picture, video, canvas, svg { display: block; max-width: 100%; }
    input, button, textarea, select { font: inherit; }
    p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }

    pre { overflow-x: auto; }
    
    ul, ol { padding-left: 1.2em; }
}        

@layer theme {
    :root {
        --prim: #FF6157;
	    --bg: #42404B;
        
        --column: 20em;
        --radius: 0.25em;;
    }
    
    html { height: 100%;scrollbar-color: rgba(0, 0, 0, 0.2) transparent; }
    
    body { height: 100%; font-size: clamp(16px, 2vw, 20px); }

    .app { height: 100%; background: #ddd; overflow-x: hidden; overflow-y: scroll; }

    .page { max-width: 50em; background: #fff; padding: 3em 4em;}

    section { margin-bottom: 3em;}
    
    h1, h2, h3, h4, h5, h6 { line-height: 1.2; margin: 1em 0; }

    pre, code { font-family: Consolas, 'Courier New', Monaco, monospace; }

    input, textarea, select { width: 100%;padding: 0.25em 0.5em; border-radius: var(--radius); }

    .btn, button { padding: 0.25em 1em; cursor: pointer; border-radius: var(--radius); border-color: rgba(0,0,0,0.2); }
    button.bg, .btn.bg { background: var(--bg); color: white; }
    button.prim, .btn.prim { background: var(--prim); color: white; }

    .dark { color: white; background: var(--bg); }
}

@layer util {
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }

    .pad { padding: 1em; }
    .mb-1 { margin-bottom: 1em; }
    
    .flex { display: flex; }
    .flex.wrap, .flex.auto { flex-wrap: wrap; }
    .flex.auto > * { flex: 1 1 var(--column); }
    .flex-1 { flex: 1; }
    .flex.v { flex-direction: column; }
    .flex.h-center { justify-content: center; }
    .flex.v-center { align-items: center; }
    
    .gap { gap: 1em; }

    textarea.auto { field-sizing: content;}

    .ux, .ux * {
        background: rgba(0, 0, 0, 0.1);
        outline: 1px solid rgba(0, 0, 0, 0.2);
    }

    .ux:hover, .ux *:hover {
        background: rgba(0, 0, 0, 0.2);
        outline: 1px solid rgba(0, 0, 0, 0.4);
    }

}